<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="balanceSheet">
	<div>
		<table border=1>
			<thead>
				<tr>
					<td colspan=7 align='center' bgcolor='#6EFF6E'>當季</td>
					<td colspan=9 align='center' bgcolor='Azure'>去年同季累計</td>
					<td colspan=9 align='center' bgcolor='Aquamarine'>前季累季</td>
				</tr>
				<tr>
					<th bgcolor='#6EFF6E'>代號</th>
					<th bgcolor='#6EFF6E'>名稱</th>
					<th bgcolor='#6EFF6E'>當前股價</th>
					<th bgcolor='#6EFF6E'>成交量(張)</th>
					<!-- <th bgcolor='#6EFF6E'>總資產</th>
					<th bgcolor='#6EFF6E'>總負債</th>
					<th bgcolor='#6EFF6E'>總股本</th>
					<th bgcolor='#6EFF6E'>資本公積</th>
					<th bgcolor='#6EFF6E'>保留盈餘</th> 
					<th bgcolor='#6EFF6E'>權益總計</th>-->
					<th bgcolor='#6EFF6E'>庫藏股票</th>
					<th bgcolor='#6EFF6E'>預收股款</th>
					<th bgcolor='#6EFF6E'>每股參考淨值</th>

					<th bgcolor='Azure'>同期總資產增減(%)</th>
					<th bgcolor='Azure'>同期總負債增減(%)</th>
					<th bgcolor='Azure'>同期總股本增減(%)</th>
					<th bgcolor='Azure'>同期資本公積增減(%)</th>
					<th bgcolor='Azure'>同期保留盈餘增減(%)</th>
					<th bgcolor='Azure'>同期權益總計增減(%)</th>
					<th bgcolor='Azure'>同期庫藏股票</th>
					<th bgcolor='Azure'>同期預收股款</th>
					<th bgcolor='Azure'>同期每股參考淨值</th>

					<th bgcolor='Aquamarine'>前季總資產增減(%)</th>
					<th bgcolor='Aquamarine'>前季總負債增減(%)</th>
					<th bgcolor='Aquamarine'>前季總股本增減(%)</th>
					<th bgcolor='Aquamarine'>前季資本公積增減(%)</th>
					<th bgcolor='Aquamarine'>前季保留盈餘增減(%)</th>
					<th bgcolor='Aquamarine'>前季權益總計增減(%)</th>
					<th bgcolor='Aquamarine'>前季庫藏股票</th>
					<th bgcolor='Aquamarine'>前季預收股款</th>
					<th bgcolor='Aquamarine'>前季每股參考淨值</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${balanceSheetList}">
					<td bgcolor='#6EFF6E'><a
						th:href="@{'https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=' + ${e.stockId}}"
						th:text="${e.stockId}"></a></td>
					<td align='right' th:text="${e.stockName}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.closePrice}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.volume}" bgcolor='#6EFF6E'></td>
					<!-- <td align='right' th:text="${e.totalAssets}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.totalLiabilities}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.totalCapitalStock}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.capitalReserve}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.retainedSurplus}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.totalEquity}" bgcolor='#6EFF6E'></td> -->
					<td align='right' th:text="${e.treasuryStock}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.preRecepitShares}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.referenceShareValue}"
						bgcolor='#6EFF6E'></td>


					<td align='right'
						th:text="${e.preYearTotalAssets} ? ${e.preYearTotalAssets} + '%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearTotalLiabilities} ? ${e.preYearTotalLiabilities} +'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearTotalCapitalStock} ? ${e.preYearTotalCapitalStock}+'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearCapitalReserve} ? ${e.preYearCapitalReserve}+'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearRetainedSurplus} ? ${e.preYearRetainedSurplus}+'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearTotalEquity} ? ${e.preYearTotalEquity}+'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearTreasuryStock} ? ${e.preYearTreasuryStock} : '0'"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearPreRecepitShares} ? ${e.preYearPreRecepitShares} : '0'"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearReferenceShareValue} ? ${e.preYearReferenceShareValue} : ''"
						bgcolor='Azure'></td>


					<td align='right'
						th:text="${e.preSeasonTotalAssets} ? ${e.preSeasonTotalAssets} + '%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonTotalLiabilities} ? ${e.preSeasonTotalLiabilities} +'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonTotalCapitalStock} ? ${e.preSeasonTotalCapitalStock}+'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonCapitalReserve} ? ${e.preSeasonCapitalReserve}+'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonRetainedSurplus} ? ${e.preSeasonRetainedSurplus}+'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonTotalEquity} ? ${e.preSeasonTotalEquity}+'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonTreasuryStock} ? ${e.preSeasonTreasuryStock} : '0'"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonPreRecepitShares} ? ${e.preSeasonPreRecepitShares} : '0'"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonReferenceShareValue} ? ${e.preSeasonReferenceShareValue} : ''"
						bgcolor='Aquamarine'></td>
				</tr>
		</table>
	</div>
</div>
</body>
</html>