<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="dividend">
	<div>
		<table border=1>
			<thead>
				<tr>
					<th>代號</th>
					<th>名稱</th>
					<th>當前股價</th>
					<th>成交量(張)</th>
					<th>現金股利</th>
					<th>股票股利</th>
					<th>合計股利</th>
					<th>合計殖利率</th>
					<th>股利所屬年(季)度</th>
					<!-- <th>EPS</th>
					<th>前年EPS</th>
					<th>業外佔業內比例</th>
					<th>股票分配率</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${dividendList}">
					<td><a
						th:href="@{'https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=' + ${e.stockId}}"
						th:text="${e.stockId}"></a></td>
					<td align='right' th:text="${e.stockName}"></td>
					<td align='right' th:text="${e.closePrice}"></td>
					<td align='right' th:text="${e.volume}"></td>
					<td align='right' th:text="${e.totalCashDividend}"></td>
					<td align='right' th:text="${e.totalStockDividend}"></td>
					<td align='right' th:text="${e.totalDividend}"></td>
					<td align='right' th:text="${e.totalYieldRate}"></td>
					<td align='right' th:text="${e.dividendYear}"></td>
					<!-- <td align='right' th:text="${e.eps}"></td>
					<td align='right' th:text="${e.preYearEPS}"></td>
					<td align='right' th:text="${e.nonOperatingPercentage}"></td>
					<td align='right' th:text="${e.payoutRatio}"></td> -->
				</tr>
		</table>
	</div>
</div>
</body>
</html>