<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="futures">
	<div>
		<table border=1 th:each="category : ${futuresMap.keySet()}">
			<thead>
				<tr>
					<th th:text="${category}" colspan=5></th>
				</tr>
				<tr>
					<th>日期</th>
					<th>名稱</th>
					<th>交易所</th>
					<th>報價單位</th>
					<th>漲跌%</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${futuresMap.get(category)}">
					<td align='right' th:text="${e.getDate}"></td>
					<td align='right' th:text="${e.name}"></td>
					<td align='right' th:text="${e.exchange}"></td>
					<td align='right' th:text="${e.quotationUnit}"></td>
					<td align='right' th:text="${e.riseFallPercentage}"
						th:style="${e.riseFallPercentage} > 0 ? 'background-color: red' : 'background-color: green'"></td>
				</tr>
		</table>
	</div>
</div>
</body>
</html>