<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="importantMessage">
	<div>
		<table border=1>
			<thead>
				<tr>
					<td colspan=8 align='center' bgcolor='#6EFF6E'>最近一月</td>
					<td colspan=4 align='center' bgcolor='Azure'>去年同期</td>
					<td colspan=8 align='center' bgcolor='Aquamarine'>最近一季</td>
					<td colspan=8 align='center' bgcolor=''>最近四季</td>
				</tr>
				<tr>
					<th bgcolor='#6EFF6E'>代號</th>
					<th bgcolor='#6EFF6E'>名稱</th>
					<th bgcolor='#6EFF6E'>當前股價</th>
					<th bgcolor='#6EFF6E'>成交量(張)</th>

					<th bgcolor='#6EFF6E'>營業收入</th>
					<th bgcolor='#6EFF6E'>稅前淨利</th>
					<th bgcolor='#6EFF6E'>本期淨利</th>
					<th bgcolor='#6EFF6E'>每股盈餘(元)</th>

					<th bgcolor='Azure'>去年同期營業收入增減(%)</th>
					<th bgcolor='Azure'>去年同期稅前淨利增減(%)</th>
					<th bgcolor='Azure'>去年同期本期淨利增減(%)</th>
					<th bgcolor='Azure'>去年同期每股盈餘增減(%)</th>

					<th bgcolor='Aquamarine'>最近一季營業收入</th>
					<th bgcolor='Aquamarine'>最近一季稅前淨利</th>
					<th bgcolor='Aquamarine'>最近一季本期淨利</th>
					<th bgcolor='Aquamarine'>最近一季每股盈餘(元)</th>
					<th bgcolor='Aquamarine'>最近一季營業收入增減(%)</th>
					<th bgcolor='Aquamarine'>最近一季稅前淨利增減(%)</th>
					<th bgcolor='Aquamarine'>最近一季本期淨利增減(%)</th>
					<th bgcolor='Aquamarine'>最近一季每股盈餘增減(%)</th>

					<th bgcolor=''>最近四季營業收入</th>
					<th bgcolor=''>最近四季稅前淨利</th>
					<th bgcolor=''>最近四季本期淨利</th>
					<th bgcolor=''>最近四季每股盈餘(元)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${importantMessageList}">
					<td bgcolor='#6EFF6E'><a
						th:href="@{'https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=' + ${e.stockId}}"
						th:text="${e.stockId}"></a></td>
					<td align='right' th:text="${e.stockName}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.closePrice}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.volume}" bgcolor='#6EFF6E'></td>
					<!-- 最近一月 -->
					<td align='right' th:text="${e.currentIncome}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.currentNetProfitBeforeTax}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.currentPeriodIncome}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.currentEPS}" bgcolor='#6EFF6E'></td>

					<!-- 去年同期 -->
					<td align='right'
						th:text="${e.preYearIncomePercentage} ? ${e.preYearIncomePercentage} + '%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearNetProfitBeforeTaxPercentage} ? ${e.preYearNetProfitBeforeTaxPercentage} +'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearPeriodIncomePercentage} ? ${e.preYearPeriodIncomePercentage}+'%' : ''"
						bgcolor='Azure'></td>
					<td align='right'
						th:text="${e.preYearEPSPercentage} ? ${e.preYearEPSPercentage}+'%' : ''"
						bgcolor='Azure'></td>




					<!-- 最近一季 -->
					<td align='right' th:text="${e.preSeasonIncome}" bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.preSeasonNetProfitBeforeTax}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.preSeasonPeriodIncome}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.preSeasonEPS}" bgcolor='#6EFF6E'></td>


					<!-- 最近一季(%) -->
					<td align='right'
						th:text="${e.preSeasonIncomePercentage} ? ${e.preSeasonIncomePercentage} + '%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonNetProfitBeforeTaxPercentage} ? ${e.preSeasonNetProfitBeforeTaxPercentage} +'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonPeriodIncomePercentage} ? ${e.preSeasonPeriodIncomePercentage}+'%' : ''"
						bgcolor='Aquamarine'></td>
					<td align='right'
						th:text="${e.preSeasonEPSPercentage} ? ${e.preSeasonEPSPercentage}+'%' : ''"
						bgcolor='Aquamarine'></td>

					<!-- 最近四季 -->
					<td align='right' th:text="${e.recentFourSeasonIncome}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.recentFourSeasonNetProfitBeforeTax}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.recentFourSeasonPeriodIncome}"
						bgcolor='#6EFF6E'></td>
					<td align='right' th:text="${e.recentFourSeasonEPS}"
						bgcolor='#6EFF6E'></td>
				</tr>
		</table>
	</div>
</div>
</body>
</html>