<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
    <meta charset="UTF-8">
</head>
<div th:fragment=incomeStatement>
		<div >
		<table border=1 th:each="industry : ${incomeStatementMap.keySet()}">
			<thead>
				<tr>
					<td colspan=8 align='center'>當季</td>
					<td colspan=5 align='center'>去年同期累計</td>
					<td colspan=5 align='center'>前季單季</td>
				</tr>
				<tr>
					<th bgcolor='#6EFF6E'>代號</th>
					<th bgcolor='#6EFF6E'>名稱</th>
					<th bgcolor='#6EFF6E'>當前股價</th>
					<th bgcolor='#6EFF6E'>成交量(張)</th>
					<th bgcolor='#6EFF6E' th:text="|EPS ${year} 年 第 ${season} 季|"></th>
					<!-- <th bgcolor='#6EFF6E' >營業收入(仟)</th> -->
					<!-- <th bgcolor='#6EFF6E' >業外收入(仟)</th> -->
					<th bgcolor='#6EFF6E'>業外佔比</th>
					<!-- <th bgcolor='#6EFF6E' >繼續營業單位本期淨利(仟)</th> -->
					<!-- <th bgcolor='#6EFF6E' >淨利歸屬於母公司業主(仟)</th> -->
					<!-- <th bgcolor='#6EFF6E' >綜合損益總額歸屬於母公司業主(仟)</th> -->
					<th bgcolor='#6EFF6E'>毛利率</th>
					<th bgcolor='#6EFF6E'>本夢比</th>
					<th bgcolor='Azure' th:text="|同期EPS ${preYear} 年 第 ${season} 季|"></th>
					<!-- <th bgcolor='Azure' >同期繼續營業單位本期淨利(仟)</th> -->
					<!-- <th bgcolor='Azure' >同期淨利歸屬於母公司業主(仟)</th> -->
					<!-- <th bgcolor='Azure' >同期綜合損益總額歸屬於母公司業主(仟)</th> -->
					<th bgcolor='Azure'>同期毛利率</th>
					<th bgcolor='Azure'>同期繼續營業單位本期淨利增減(%)</th>
					<th bgcolor='Azure'>同期淨利歸屬於母公司業主增減(eps成長%)</th>
					<th bgcolor='Azure'>同期綜合損益總額歸屬於母公司業主增減(%)</th>
					<th bgcolor='Aquamarine'
						th:text="|前季EPS ${preSeasonYear} 年 第 ${preSeasonShort} 季|"></th>
					<!-- <th bgcolor='Aquamarine'>前季繼續營業單位本期淨利(仟)</th> -->
					<!-- <th bgcolor='Aquamarine'>前季淨利歸屬於母公司業主(仟)</th> -->
					<!-- <th bgcolor='Aquamarine'>前季綜合損益總額歸屬於母公司業主(仟)</th> -->
					<th bgcolor='Aquamarine'>前季毛利率</th>
					<th bgcolor='Aquamarine'>前季繼續營業單位本期淨利增減(%)</th>
					<th bgcolor='Aquamarine'>前季淨利歸屬於母公司業主增減(%)</th>
					<th bgcolor='Aquamarine'>前季綜合損益總額歸屬於母公司業主增減(%)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td colspan='18' align='center' bgcolor='#BFFFFF'
						th:text="${industry}"></td>
				</tr>
				<tr th:each="e : ${incomeStatementMap.get(industry)}">
					<!-- 當季 -->
					<td bgcolor='#6EFF6E'><a
						th:href="@{'https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=' + ${e.stockId}}"
						th:text="${e.stockId}"></a></td>
					<!-- 股票代號 -->
					<td bgcolor='#6EFF6E' th:text="${e.stockName}"></td>
					<!-- 股票名稱 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.closePrice} ?: 'NA'"></td>
					<!-- 收盤價 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.volume} ?: 'NA'"></td>
					<!-- 成交量 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.eps} ?: 'NA'"></td>
					<!-- 每股盈餘 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.nonOperatingIncomePercentage} ?: 'NA'"></td>
					<!-- 業外佔比 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.grossMargin} ?: 'NA'"></td>
					<!-- 毛利率 -->
					<td align='right' bgcolor='#6EFF6E'
						th:text="${e.priceToDreamRatio} ?: 'NA'"></td>
					<!-- 本夢比 -->
					<!-- 去年同季 -->
					<td align='right' bgcolor='Azure'
						th:text="${e.preYearEPS } ?: 'NA'"></td>
					<!-- 去年同季EPS -->
					<td align='right' bgcolor='Azure'
						th:text="${e.preYearGrossMargin} ? ${e.preYearGrossMargin} + '%' : 'NA'"></td>
					<!-- 去年毛利率 -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preYearContiueNetIncomePercentage} ? ${e.preYearContiueNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 去年繼續營業單位本期淨利增減(%) -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preYearParentNetIncomePercentage} ? ${e.preYearParentNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 去年淨利歸屬於母公司業主增減(eps成長%) -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preYearComprehensiveNetIncomePercentage} ? ${e.preYearComprehensiveNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 去年綜合損益總額歸屬於母公司業主增減(%) -->
					<!-- 前季 -->
					<td align='right' bgcolor='Aquamarine'
						th:text="${e.preSeasonEPS} ?: 'NA'"></td>
					<!-- 前季同季EPS -->
					<td align='right' bgcolor='Aquamarine'
						th:text="${e.preSeasonGrossMargin} ? ${e.preSeasonGrossMargin} + '%' : 'NA'"></td>
					<!-- 前季毛利率 -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preSeasonContiueNetIncomePercentage} ? ${e.preSeasonContiueNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 前季繼續營業單位本期淨利增減(%) -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preSeasonParentNetIncomePercentage} ? ${e.preSeasonParentNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 前季淨利歸屬於母公司業主增減(eps成長%) -->
					<td align='right' bgcolor='Gold'
						th:text="${e.preSeasonComprehensiveNetIncomePercentage} ? ${e.preSeasonComprehensiveNetIncomePercentage} + '%' : 'NA'"></td>
					<!-- 前季綜合損益總額歸屬於母公司業主增減(%) -->
			</tbody>
		</table>
	</div>
</div>
</html>