<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="monthlyRevenue">
	<div th:each="industry : ${monthlyRevenueMap.keySet()}">
		<table border=1>
			<thead>
				<tr>
					<td colspan='8' align='center' bgcolor='#BFFFFF'
						th:text="${industry}"></td>
				</tr>
				<tr>
					<th>代號</th>
					<th>名稱</th>
					<th>產業別</th>
					<th>當前股價</th>
					<th>成交量(張)</th>
					<th>前月增減(%)</th>
					<th>去年同月增減(%)</th>
					<th>累計前期比較增減(%)</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="e : ${monthlyRevenueMap.get(industry)}">
					<td><a
						th:href="@{'https://goodinfo.tw/StockInfo/StockDetail.asp?STOCK_ID=' + ${e.stockId}}"
						th:text="${e.stockId}"></a></td>
					<td th:text="${e.stockName}"></td>
					<td th:text="${e.industry}"></td>
					<td align='right' th:text="${e.closePrice}"></td>
					<td align='right' th:text="${e.volume}"></td>
					<td align='right' th:text="${e.preMonthlyComparePrecentage}+'%'"
						th:style="${e.preMonthlyComparePrecentage}>100 ? 
								  'background-color: gold' : 
								  (${e.preMonthlyComparePrecentage}>0 ? 'background-color: red' : 'background-color: green')">
					</td>
					<td align='right' th:text="${e.preYearComparePrecentage}+'%'"
						th:style="${e.preYearComparePrecentage}>100 ? 
								  'background-color: gold' : 
								  (${e.preYearComparePrecentage}>0 ? 'background-color: red' : 'background-color: green')">
					</td>
					<td align='right'
						th:switch=${e.preMonthlyCompareGrandTotalPrecentage}
						th:text="${e.preMonthlyCompareGrandTotalPrecentage}+'%'"
						th:style="${e.preMonthlyCompareGrandTotalPrecentage}>100 ? 
								  'background-color: gold' : 
								  (${e.preMonthlyCompareGrandTotalPrecentage}>0 ? 'background-color: red' : 'background-color: green')">
					</td>
				</tr>
		</table>
		<br>
	</div>
</div>
</body>
</html>