<!DOCTYPE html>
<html xmlns:th=http:www.thymeleaf.org>
<head>
<meta charset="UTF-8">
</head>
<div th:fragment="stockIndustryPrice">
	<div>
		<table border=1>
			<thead th:switch=${country}>
				<tr th:case='US'>
					<th>行業分類</th>
					<th>子行業分類</th>
					<th>升跌%</th>
					<th>昨天升跌%</th>
					<th>平均本益比</th>
				</tr>
				<tr th:case='CN'>
					<th>行業分類</th>
					<th>升跌%</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${country}=='US'" th:each="e : ${stockIndustryPriceList}">
					<td align='right' th:text="${e.mainIndustry}"></td>
					<td align='right' th:text="${e.subIndustry}"></td>
					<td align='right'
						th:text="${e.riseFallPercentage} > 0 ? '+' + ${e.riseFallPercentage} +'%' : ${e.riseFallPercentage} + '%'"
						th:style="${e.riseFallPercentage} > 0 ? 'background-color: red' : 'background-color: green'"></td>
					<td align='right'
						th:text="${e.yesterdayRiseFallPercentage} > 0 ? '+' + ${e.yesterdayRiseFallPercentage} + '%' : ${e.yesterdayRiseFallPercentage} + '%'"
						th:style="${e.yesterdayRiseFallPercentage} > 0 ? 'background-color: red' : 'background-color: green'"></td>
					<td align='right' th:text="${e.averagePeRatio}"></td>
				</tr>
				<tr th:if="${country}=='CN'" th:each="e : ${stockIndustryPriceList}">
					<td align='right' th:text="${e.subIndustry}"></td>
					<td align='right'
						th:text="${e.riseFallPercentage} > 0 ? '+' + ${e.riseFallPercentage} + '%' : ${e.riseFallPercentage} + '%' "
						th:style="${e.riseFallPercentage} > 0 ? 'background-color: red' : 'background-color: green'"></td>
				</tr>
		</table>
	</div>
</div>
</body>
</html>