<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<script th:src="@{/js/jquery-ui.min.js}"></script>
<script type="text/javascript" th:src="@{/js/loader.js}"></script>

</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-2 text-center">
				<label class="col-md-4">產業別</label> <select class="col-md-6"
					id="industry">
					<option value="鋼鐵" selected>鋼鐵</option>
				</select>
			</div>
			<div class="col-md-4">
				<div class="text-end"
					th:include="components/announcementDate :: announcementDate('industry')"></div>
			</div>

			<div class="col-md-1 text-start">
				<input id="industryQuery" class="" type="submit" value="查詢">
			</div>
		</div>
		<br>
		<div id='chart_div' style='width: 900px; height: 600px;'></div>
	</div>
	<script type='text/javascript'>
	$(document).ready(e=>{
		const today = new Date()
		const lastMonth = new Date(today);
		//yesterday.setDate(yesterday.getDate() - 1)
		let month = today.getMonth() -1;
		if(month < 0){
			month = 12;
			lastMonth.setMonth(11);
			lastMonth.setYear(today.getYear -1)
		}else{
			lastMonth.setMonth(today.getMonth() - 1);
		}
		$("#industryAnnouncementDateStart").datepicker({
			defaultDate : new Date(),
			dateFormat : 'yy-mm-dd',
			changeMonth : true,
			changeYear : true,
			showButtonPanel : true,
		}).datepicker("setDate", lastMonth);
		$("#industryAnnouncementDateEnd").datepicker({
			defaultDate : new Date(),
			dateFormat : 'yy-mm-dd',
			changeMonth : true,
			changeYear : true,
			showButtonPanel : true,
		}).datepicker("setDate", new Date());
		
		
		google.charts.load('current', {
			'packages' : [ 'annotationchart' ]
		});
		google.charts.setOnLoadCallback(drawChart);
		
		function drawChart(rows) {
			var data = new google.visualization.DataTable();
			data.addColumn('date', 'Date');
			data.addColumn('number', 'US riseFallPercentage');
			/* data.addColumn('number', 'US averagePeRatio'); */
			data.addColumn('number', 'CN riseFallPercentage');
			/* data.addColumn('number', 'CN averagePeRatio'); */
			console.log(typeof(rows))
			if(rows !== undefined){
				data.addRows(rows);
			}
			/* data.addRows([
					[ new Date(2314, 2, 15), 12400, undefined, undefined,
							10645, undefined, undefined, 1, 'a', 'b' ],
					[ new Date(2314, 2, 16), 24045, 'Lalibertines',
							'First encounter', 12374, undefined, undefined, 1,
							'a', 'b' ],
					[ new Date(2314, 2, 17), 35022, 'Lalibertines',
							'They are very tall', 15766, 'Gallantors',
							'First Encounter', 1, 'a', 'b' ],
					[ new Date(2314, 2, 18), 12284, 'Lalibertines',
							'Attack on our crew!', 34334, 'Gallantors',
							'Statement of shared principles', 1, 'a', 'b' ],
					[ new Date(2314, 2, 19), 8476, 'Lalibertines',
							'Heavy casualties', 66467, 'Gallantors',
							'Mysteries revealed', 1, 'a', 'b' ],
					[ new Date(2314, 2, 20), 0, 'Lalibertines',
							'All crew lost', 79463, 'Gallantors',
							'Omniscience achieved', 1, 'a', 'b' ] ]); */

			var chart = new google.visualization.AnnotationChart(document
					.getElementById('chart_div'));

			var options = {
				displayAnnotations : true
			};
			chart.draw(data, options);
		}
		
		
		$("#industryQuery").click(e =>{
			let industry = $("#industry").val();
			let announcementDateStart = $("#industryAnnouncementDateStart").val();
			let announcementDateEnd = $("#industryAnnouncementDateEnd").val();
			
							$.ajax({
					url:"/stock/stockIndustryPrice",
					type: "GET",
					data:{
						industry,
						announcementDateStart:announcementDateStart,
						announcementDateEnd:announcementDateEnd
					},
					dataType: "json",
					contetnType:"application/json; charset=utf-8",
					success:(response)=>{
						let data = response.data;
						const map = new Map(Object.entries(data));
						let rows = [];
						for (const [key, list] of map.entries()) {
							 let date = new Date(key);
							 let US = list.filter(e=>e.country == "US")[0]
							 let CN = list.filter(e=>e.country == "CN")[0]
							 //美股會領先一天
							 if(CN == undefined){
								 rows.push([date,
									 US.riseFallPercentage ,
									 /* US.averagePeRatio, */
									 undefined,
									 /* CN.averagePeRatio */
									 ]);
							 } else if( US == undefined){
								 rows.push([date,
									 undefined,
									 CN.riseFallPercentage
									 ]);
							 }
							 else{
								 rows.push([date,
									 US.riseFallPercentage ,
									 /* US.averagePeRatio, */
									 CN.riseFallPercentage ,
									 /* CN.averagePeRatio */
									 ]);
							 }
	
						}
						drawChart(rows);

	
					},
					error:(xhr)=>{
						console.log("error:"+xhr);
					}
				});
		})
	})
	</script>
</body>
</html>