<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}" />
<!--    <link th:href="@{styles/main.css}" rel="stylesheet" />-->
<style>
.body {
	height: 50%;
	width: 50%;
	background-color: white;
}

.content {
	color: black;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
}

.emailButton {
	border-radius: 5%;
	text-align: center;
	background-color: #28961B;
	color: white;
	border: 0px;
	width: 20%;
	line-height: 2em;
}

#main {
	color: black;
	margin-top: 2%;
}

.backGround {
	background-color: WhiteSmoke;
}

.logo {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
	width: 8%;
	height: 8%
}
</style>
</head>
<body>
	<div class="backGround">
		<div id="main">
			<div th:switch="${templateName}">

				<!-- 資產損益表 -->
				<div th:case="balanceSheet">
					<div th:replace="components/email/balanceSheet :: balanceSheet"></div>
				</div>
				<!-- 損益表 -->
				<div th:case="incomeStatement">
					<div
						th:replace="components/email/incomeStatement :: incomeStatement"></div>
				</div>
				<!-- 現金股利 -->
				<div th:case="dividend">
					<div th:replace="components/email/dividend :: dividend"></div>
				</div>
				<!-- 月營收 -->
				<div th:case="monthlyRevenue">
					<div th:replace="components/email/monthlyRevenue :: monthlyRevenue"></div>
				</div>
				<!-- 重大訊息 -->
				<div th:case="importantMessage">
					<div
						th:replace="components/email/importantMessage :: importantMessage"></div>
				</div>
				<!-- 美股行業漲跌 -->
				<div th:case="stockIndustryPrice">
					<div th:replace="components/email/stockIndustryPrice :: stockIndustryPrice"></div>
				</div>
				<!-- 期貨漲跌 -->
				<div th:case="futures">
					<div th:replace="components/email/futures :: futures"></div>
				</div>
				
			</div>
		</div>
	</div>
</body>
</html>