<!DOCTYPE html>
<html lang="zh-TW" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/css/jquery.dataTables.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.dataTables.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}">
<script th:src="@{/js/jquery-ui.min.js}"></script>
</head>
<body>
	<div class="container">
		<div>
			<div class="row">
				<h1 class="text-center">綜合損益表查詢</h1>
			</div>
			<div class="row align-items-start">
				<div class="col-md-2 text-center">
					<label class="col-md-3">年度</label> <select class="col-md-6"
						id="incomeStatementYear">
						<option value="110" selected>110</option>
						<option value="109">109</option>
					</select>
				</div>
				<div class="col-md-2 text-center">
					<label class="col-md-3">季度</label> <select class="col-md-6"
						id="incomeStatementSeason">
						<option value=1 selected>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
					</select>
				</div>
				<div class="col-md-2">
					<div class="  text-end"
						th:include="components/industrys :: industrys('incomeStatementIndustry')"></div>
				</div>
				<div class="col-md-4">
					<div class="  text-end"
						th:include="components/announcementDate :: announcementDate('incomeStatement')"></div>
				</div>

				<div class="col-md-1 text-start">
					<input id="incomeStatementQuery" class="" type="submit" value="查詢">
				</div>

			</div>
			<br>
			<div class="row">
				<table id="incomeStatementTable" class="" style="width: 100%">
				</table>
			</div>
		</div>

		<div>
			<div class="row">
				<h1 class="text-center">月營收查詢</h1>
			</div>
			<div class="row align-items-start">
				<div class="col-md-2">
					<label class="col-md-3 text-center">年度</label> <select
						class="col-md-6" id="monthlyRevenueYear">
						<option value="110" selected>110</option>
						<option value="109">109</option>
					</select>
				</div>
				<div class="col-md-2">
					<label class="col-md-3 text-center">月份</label> <select
						class="col-md-6" id="monthlyRevenueMonth">
						<option value=1 selected>1</option>
						<option value=2>2</option>
						<option value=3>3</option>
						<option value=4>4</option>
						<option value=5>5</option>
						<option value=6>6</option>
						<option value=7>7</option>
						<option value=8>8</option>
						<option value=9>9</option>
						<option value=10>10</option>
						<option value=11>11</option>
						<option value=12>12</option>
					</select>
				</div>
				<div class="col-md-2 text-start"
					th:include="components/industrys :: industrys('monthlyRevenueIndustry')"></div>

				<div class="col-md-4">
					<div class="  text-end"
						th:include="components/announcementDate :: announcementDate('monthlyRevenue')"></div>
				</div>
				<div class="col-md-1 text-start">
					<input id="monthlyRevenueQuery" class="" type="submit" value="查詢">
				</div>
			</div>
			<br>
			<div class="row">
				<table id="monthlyRevenueTable" class="" style="width: 100%">
				</table>
			</div>
		</div>

		<div>
			<div class="row">
				<h1 class="text-center">現金股利查詢</h1>
			</div>
			<div class="row align-items-start">
				<div class="col-md-2 text-center">
					<label class="col-md-3">年度</label> <select class="col-md-6"
						id="dividendYear">
						<option value="110" selected>110</option>
						<option value="109">109</option>
					</select>
				</div>
				<!-- <div class="col-md-2"
					th:include="components/industrys :: industrys('dividendIndustry')"></div> -->
				<div class="col-md-4">
					<div class="  text-end"
						th:include="components/announcementDate :: announcementDate('dividend')"></div>
				</div>
				<div class="col-md-1 text-start">
					<input id="dividendQuery" class="" type="submit" value="查詢">
				</div>
			</div>
			<br>
			<div class="row">
				<table id="dividendTable" class="" style="width: 100%">
				</table>
			</div>
		</div>
	</div>


	<script>
	let calculatePreYear = (year,season) =>{
		//year = 110 season = 1  calcute => preSeason = 4 > 1 ? 110 -1 : 110 
		return calculatePreSeason(year,season) > season ? (year - 1) : year;
	}
	let calculatePreSeason = (year,season)=>{
		//1-1 % 4 = 0
		//2-1 % 4 = 1
		//3-1 % 4 = 2
		//4-1 % 4 = 3
		//第一季 年-1
		if(((season-1)%4) == 0) {
			return 4;
		}
		return season - 1 ;
	}
	
	let comparePercentageBgcolor = (row,current,pre,index)=>{
		if(current == null || pre == null){
			return 0;
		}
		if(current > pre ){
			if(current > 0 ){
		    		$('td', row).eq(index).addClass('bg-warning');
		    		return 1;
			}else{
					$('td', row).eq(index).addClass('bg-danger');
	    			return 0.5;
			}
	    	}else{
	    		$('td', row).eq(index).addClass('bg-success');
	    		return -1;
	    	}
	}
	
	let percentageBgcolor = (row,data,index) => {
		if(data == null){
			return 0;
		}
		if(data > 0){
			if(data > 100){
				$('td', row).eq(index).addClass('bg-warning');
				return 1;
			}else{
				$('td', row).eq(index).addClass('bg-danger');
				return 0.5;
			}
		}else{
			$('td', row).eq(index).addClass('bg-success');
			return -1;
		}
	}
	
	const today = new Date()
	$("#monthlyRevenueMonth").val(today.getMonth());
	const yesterday = new Date(today);
	yesterday.setDate(yesterday.getDate() - 1)
	
	</script>
	<script>
	$(document).ready((e)=>{
		$("#dividendAnnouncementDateStart").datepicker({
			defaultDate: "-1d",
			dateFormat : 'yy-mm-dd',
			changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
		}).datepicker("setDate", yesterday);
		$("#dividendAnnouncementDateEnd").datepicker({
			defaultDate: new Date(),
			dateFormat : 'yy-mm-dd',
			changeMonth: true,
            changeYear: true,
            showButtonPanel: true,
		}).datepicker("setDate", new Date());
			let dividendTable = $("#dividendTable").DataTable({
				"columns": [
					{title:"代號",data:"stockId"},
					{title:"名稱",data:"stockName"},
					{title:"股價",data:"closePrice"},
					{title:"成交量",data:"volume"},
					{title:"現金股利",data:"totalCashDividend"},
					{title:"股票股利",data:"totalStockDividend"},
					{title:"合計殖利率",data:"totalYieldRate"},
					{title:"comma",render:(data, type, row)=>{
						if(row.totalYieldRate >= 5){
							$('td', row).eq(6).addClass('bg-warning');
							return 1;
						}else if(row.totalYieldRate < 5 && row.totalYieldRate > 3 ){
							$('td', row).eq(6).addClass('bg-success');
							return 0.5;
						}else{
							$('td', row).eq(6).addClass('bg-danger');
							return -1;
						}
						return 0;
					}}
				],
				"rowCallback": function( row, data ) {
					if(data.totalYieldRate >= 5){
						$('td', row).eq(6).addClass('bg-warning');
					}else if(data.totalYieldRate < 5 && data.totalYieldRate > 3 ){
						$('td', row).eq(6).addClass('bg-success');
					}else{
						$('td', row).eq(6).addClass('bg-danger');
					}
				  } 
			});

			
			$("#dividendQuery").click((e)=>{
				let year = $("#dividendYear").val();
				//let industry = $("#dividendIndustry").val();
				let checked = $("#dividendAnnouncementDateCheckbox").prop("checked");
				let announcementDateStart = null;
				let announcementDateEnd = null;
				if(checked){
					announcementDateStart = $("#dividendAnnouncementDateStart").val();
					announcementDateEnd =  $("#dividendAnnouncementDateEnd").val();
				}
				$.ajax({
					url:"/stock/dividend",
					type: "GET",
					data:{
						year,
						announcementDateStart:announcementDateStart,
						announcementDateEnd:announcementDateEnd
					},
					dataType: "json",
					contetnType:"application/json; charset=utf-8",
					success:(response)=>{
						dividendTable.clear().rows.add(response.data).order([ 6, 'desc' ]).draw();
					},
					error:(xhr)=>{
						console.log("error:"+xhr);
					}
				});
			})
	});
	</script>


	<script>
		$(document).ready(()=> {

			$("#monthlyRevenueAnnouncementDateStart").datepicker({
				defaultDate: "-1d",
				dateFormat : 'yy-mm-dd',
				changeMonth: true,
	            changeYear: true,
	            showButtonPanel: true,
			}).datepicker("setDate", yesterday);
			$("#monthlyRevenueAnnouncementDateEnd").datepicker({
				defaultDate: new Date(),
				dateFormat : 'yy-mm-dd',
				changeMonth: true,
	            changeYear: true,
	            showButtonPanel: true,
			}).datepicker("setDate", new Date());
			
			let monthlyRevenueTable = $('#monthlyRevenueTable').DataTable({
				"columns": [
				    {title:"代號", data: "stockId"},//0
				    {title:"名稱",data: "stockName"},//1
 				    {title:"產業",data:"industry"},//2
 				    {title:"股價",data: "closePrice", className:"dt-body-right"},//3
				    {title:"成交量(張)",data:"volume", className:"dt-body-right"},//4
		 		    {title:"上月比較增減(%)",data: "preMonthlyComparePrecentage",className:"dt-body-right"},//10
		 		    {title:"去年同月增減(%)",data: "preYearComparePrecentage",className:"dt-body-right"},
		 		    {title:"累計前期比較增減(%)",data: "preMonthlyCompareGrandTotalPrecentage",className:"dt-body-right"},
		 		    {title:"comma",render:(data, type, row)=>{
		 		    	 let comma = 0;
		 		    	 comma +=percentageBgcolor(row,row.preMonthlyComparePrecentage,5);
		 		    	 comma +=percentageBgcolor(row,row.preYearComparePrecentage,6);
		 		    	 comma +=percentageBgcolor(row,row.preMonthlyCompareGrandTotalPrecentage,7);
		 		    	 return comma;
		 		    }}
				  ],
		 		  "rowCallback": function( row, data ) {
		 			 percentageBgcolor(row,data.preMonthlyComparePrecentage,5);
		 			 percentageBgcolor(row,data.preYearComparePrecentage,6);
		 			 percentageBgcolor(row,data.preMonthlyCompareGrandTotalPrecentage,7);
				  } 
			});
			$("#monthlyRevenueQuery").click( (e) =>{
				e.preventDefault();
				let year = $("#monthlyRevenueYear").val();
				let month = $("#monthlyRevenueMonth").val();
				let industry = $("#monthlyRevenueIndustry").val();
				let checked = $("#monthlyRevenueAnnouncementDateCheckbox").prop("checked")
				
				let announcementDateStart = null;
				let announcementDateEnd = null;
				if(checked){
					announcementDateStart = $("#monthlyRevenueAnnouncementDateStart").val();
					announcementDateEnd =  $("#monthlyRevenueAnnouncementDateEnd").val();
				}
				$.ajax({
					url:"/stock/monthlyRevenue",
					type: "GET",
					data:{
						year:year,
						month:month,
						industry:industry,
						announcementDateStart:announcementDateStart,
						announcementDateEnd:announcementDateEnd
					},
					dataType: "json",
					contetnType:"application/json; charset=utf-8",
					success:(response)=>{
						monthlyRevenueTable.clear().rows.add(response.data).order([ 8, 'desc' ]).draw();
					},
					error:(xhr)=>{
						console.log("error:"+xhr);
					}
				});
			})
		});
	</script>
	<script>
		$(document).ready(()=> {
			$("#incomeStatementAnnouncementDateStart").datepicker({
				defaultDate: new Date(),
				dateFormat : 'yy-mm-dd',
				changeMonth: true,
	            changeYear: true,
	            showButtonPanel: true,
			}).datepicker("setDate", yesterday);
			$("#incomeStatementAnnouncementDateEnd").datepicker({
				defaultDate: new Date(),
				dateFormat : 'yy-mm-dd',
				changeMonth: true,
	            changeYear: true,
	            showButtonPanel: true,
			}).datepicker("setDate", new Date());
			
			let year = $("#incomeStatementYear").val();
			let season = $("#incomeStatementSeason").val();
			
			let incomeStatementTable = $('#incomeStatementTable').DataTable({
				"columns": [
				    {title:"代號", data: "stockId"},//0
				    {title:"名稱",data: "stockName"},//1
				    {title:"產業",data:"industry"},//2
				    {title:"股價",data: "closePrice", className:"dt-body-right"},//3
				    {title:"成交量(張)",data:"volume", className:"dt-body-right"},//4
				    {title:"EPS"+ year +"年 第"+  season +"季",data:"eps",className:"dt-body-right"},//5
				    {title:"業外占比",data:"nonOperatingIncomePercentage",className:"dt-body-right"},//6
				    {title:"毛利率",data: "grossMargin",className:"dt-body-right"},//7
				    {title:"本夢比",data: "priceToDreamRatio",className:"dt-body-right"},//8
		 		    {title:"同期EPS "+ ( year -1 ) +" 年 第 "+ season +" 季",data: "preYearEPS",className:"dt-body-right"},//9
		 		    {title:"同期毛利率",data: "preYearGrossMargin",className:"dt-body-right"},//10
		 		    {title:"同期繼續營業淨利增減(%)",data: "preYearContiueNetIncomePercentage",className:"dt-body-right"},
		 		    {title:"同期淨利歸屬業主增減(%)",data: "preYearParentNetIncomePercentage",className:"dt-body-right"},
		 		    {title:"同期綜合損益淨利增減(%)",data: "preYearComprehensiveNetIncomePercentage",className:" dt-body-right"},					    
		 		    {title:"前季EPS "+ calculatePreYear( year,season ) +" 年 第 "+ calculatePreSeason(year,season) +" 季",data: "preSeasonEPS",className:"dt-body-right"},
		 		    {title:"前季毛利率",data: "preSeasonGrossMargin",className:"dt-body-right"},
		 		    {title:"前季繼續營業淨利增減(%)",data: "preSeasonContiueNetIncomePercentage",className:"dt-body-right"},
		 		    {title:"前季淨利歸屬業主增減(%)",data: "preSeasonParentNetIncomePercentage",className:"dt-body-right"},
		 		    {title:"前季綜合損益淨利增減(%)",data: "preSeasonComprehensiveNetIncomePercentage",className:"dt-body-right"},					    
					{title:"comma",render:(data, type,row) => {
						let comma = 0;
						if(row.eps !== null && row.preYearEPS !== null){
							if(row.eps > row.preYearEPS){
								if(row.eps > 0 ){
				 		    		comma+=1;
								}else{
			 		    			comma+=0.5;
								}
			 		    	}else{
			 		    		comma -= 1;
			 		    	}
						}
						if(row.grossMargin !== null && row.preYearGrossMargin !== null){
							if(row.grossMargin > row.preYearGrossMargin){
								if(row.grossMargin > 0 ){
				 		    		comma+=1;
								}else{
			 		    			comma+=0.5;
								}
			 		    	}else{
			 		    		comma -= 1;
			 		    	}
						}
		 			comma += percentageBgcolor(row,row.preYearContiueNetIncomePercentage,11);
		 			comma += percentageBgcolor(row,row.preYearParentNetIncomePercentage,12);
		 			comma += percentageBgcolor(row,row.preYearComprehensiveNetIncomePercentage,13);
		 			if(row.eps > row.preSeasonEPS){
							if(row.eps > 0 ){
			 		    		comma+=1;
							}else{
		 		    			comma+=0.5;
							}
	 		    	}else{
	 		    		comma -= 1;
	 		    	}
					if(row.grossMargin !== null && row.preSeasonGrossMargin !== null){
						if(row.grossMargin > row.preSeasonGrossMargin){
							if(row.grossMargin > 0 ){
			 		    		comma+=1;
							}else{
		 		    			comma-=0.5;
							}
		 		    	}else{
		 		    		comma -= 1;
		 		    	}
					}
		 			comma += percentageBgcolor(row,row.preSeasonContiueNetIncomePercentage,16);
		 			comma += percentageBgcolor(row,row.preSeasonParentNetIncomePercentage,17);
		 			comma += percentageBgcolor(row,row.preSeasonComprehensiveNetIncomePercentage,18);
		 			return comma;
					}},
				  ],
		 		  "rowCallback": function( row, data ) {
		 			comparePercentageBgcolor(row,data.eps,data.preYearEPS,9);
					comparePercentageBgcolor(row,data.grossMargin,data.preYearGrossMargin,10);	 				
		 			percentageBgcolor(row,data.preYearContiueNetIncomePercentage,11);
		 			percentageBgcolor(row,data.preYearParentNetIncomePercentage,12);
		 			percentageBgcolor(row,data.preYearComprehensiveNetIncomePercentage,13);
		 			comparePercentageBgcolor(row,data.eps,data.preSeasonEPS,14);	
		 			comparePercentageBgcolor(row,data.grossMargin,data.preSeasonGrossMargin,15);
		 			percentageBgcolor(row,data.preSeasonContiueNetIncomePercentage,16);
		 			percentageBgcolor(row,data.preSeasonParentNetIncomePercentage,17);
		 			percentageBgcolor(row,data.preSeasonComprehensiveNetIncomePercentage,18);
				  } 
			});
			
			
			
			$("#incomeStatementQuery").click((e)=>{
			e.preventDefault();
			let year = $("#incomeStatementYear").val();
			let season = $("#incomeStatementSeason").val();
			let industry = $("#incomeStatementIndustry").val();
			let checked = $("#incomeStatementAnnouncementDateCheckbox").prop("checked");
			let announcementDateStart;
			let announcementDateEnd;
			if(checked){
				announcementDateStart = $("#incomeStatementAnnouncementDateStart").val();
				announcementDateEnd = $("#incomeStatementAnnouncementDateEnd").val();
			}

			$.ajax({
				url:"/stock/getSeasonReport",
				type: "GET",
				data:{
					year:year,
					season:season,
					industry:industry,
					announcementDateStart:announcementDateStart,
					announcementDateEnd:announcementDateEnd
				},
				dataType: "json",
				contetnType:"application/json; charset=utf-8",
				success:(response)=>{
					$(incomeStatementTable.column(5).header()).text("EPS" + year + "年 第"+ season +"季" );
					$(incomeStatementTable.column(9).header()).text("同期EPS" + (year-1) + "年 第"+ season +"季" );
					$(incomeStatementTable.column(14).header()).text("前季EPS" + calculatePreYear( year,season ) + "年 第"+ calculatePreSeason(year,season) +"季" );
					incomeStatementTable.clear().rows.add(response.data).order( [ 19, 'desc' ] ).draw();
				},
				error:(xhr)=>{
					console.log("error:"+xhr);
				}
			});
				
			});
		})
	</script>
	<script>
		$(document).ready((e)=>{
			//$("#incomeStatementQuery").click();
			//$("#monthlyRevenueQuery").click();
			//$("#dividendQuery").click();
		});
	</script>
</body>
</html>